@model BlogIsaacSam.Models.Data.ViewModelClasses.PostVM
@{
    ViewBag.Title = "Reject Post";
}

<style>
    .postbox {
        border: 2px solid black;
        margin: 2.5%;
        padding: 2.5%;
    }
</style>


<h2>Reject Post</h2>

<h3>Reject this post?</h3>

<button type="submit" class="btn btn-sm btn-danger">Delete</button>
@Html.ActionLink("Cancel", "PendingPosts", "Admin", null, new { @class = "btn btn-sm btn-info" })

<div class="postbox" id="@Model.Post.PostId">
    <h5>@Model.Category.Name</h5>
    <h3>@Model.Post.Author</h3>
    <h2>@Model.Post.Title</h2>
    <p>@Model.Post.Content</p>
    <div class="row">
        <h4>Tags:</h4>
        @foreach (var Tag in Model.Tags)
        {
            <h4>
                @Tag.Name,
            </h4>
        }
    </div>
    <h6>Created @Model.Post.DateCreated.ToShortDateString() Last Editted @Model.Post.DateEditted.ToShortDateString()</h6>
</div>