@model List<BlogIsaacSam.Models.Data.ViewModelClasses.PostVM>

@{
    ViewBag.Title = "Home Page";
}

    <style>
        .postbox {
            border: 2px solid black;
            margin: 2.5%;
            padding: 2.5%;
        }
    </style>

<h2>Posts</h2>

@if (User.IsInRole("Admin"))
{
    @Html.ActionLink("Add Post", "AddPost", "Admin");
    @Html.ActionLink("Pending Posts", "PendingPosts", "Admin");
}
@if (User.IsInRole("Moderator"))
{
    @Html.ActionLink("Add Post", "AddPost", "Moderator");
}

@foreach (var item in Model)
{
<div class="postbox" id="@item.Post.PostId">
    <h5>@item.Category.Name</h5>
    <h3>@item.Post.Author</h3>
    <h2>@item.Post.Title</h2>
    <p>@item.Post.Content</p>
    <div class="row">
        <h4>Tags:</h4>
        @foreach (var Tag in item.Tags)
        {
            <h4>
                @Tag.Name,
            </h4>
        }
    </div>
    <h6>Created @item.Post.DateCreated.ToShortDateString() Last Editted @item.Post.DateEditted.ToShortDateString()</h6>
</div>
}