@model List<BlogIsaacSam.Models.Data.Post>

@{
    ViewBag.Title = "Home Page";
}

<h2>Posts</h2>

<style>

    .postbox {
        border: 2px solid black;
        margin: 2.5%;
        padding: 2.5%;
    }
</style>

@if (User.IsInRole("Admin"))
{
    @Html.ActionLink("Add Post", "AddPost", "Admin");
    @Html.ActionLink("Pending Posts", "PendingPosts", "Admin");
}
@if (User.IsInRole("Moderator"))
{
    @Html.ActionLink("Add Post", "AddPost", "Moderator");
}

@foreach (var item in Model)
{
    <div class="postbox" id="@item.PostId">
        <h3>@item.Author</h3>
        <h2>@item.Title</h2>
        <p>@item.Content</p>
        <h6>Created @item.DateCreated.ToShortDateString() Last Editted @item.DateEditted.ToShortDateString()</h6>
    </div>
}